.editpage-body {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh; 
    padding: 40px 0; 
}

.mypage-edit {
    width: 40%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3%;
    padding-bottom: 3%;
}

.label-group {
    width: 100px; 
    text-align: right; 
    margin-right: 10px; 
}

.form-group {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
    width: 100%;
}

.form-group input[type="text"], 
.form-group input[type="email"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; 
}

.form-group.notify-group3 input[type="checkbox"] {
    margin-right: 10px;
}

.notify-group {
    display: flex;
    align-items: flex-start; 
    margin-left: 5%;
}
.notify-group2 {
    display: flex;
    align-items: flex-start;
    margin-left: 5%;
    margin-top: -15px;
    margin-bottom: 50px;
    justify-content: center; 
}
.notify-group3 {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 5%;
}
.notify-label {
    margin-left: 10px;
    margin-top:10px;
}

.button-group {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.submit-btn {
    background-color: #7895CB;
    color: white;
    padding: 6px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  
.submit-btn:hover {
    background-color: #024e76;
  }
 
.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
}

.form-group.notify-group3 input{
    margin-right: 0px;
    
}

.form-group.notify-group3 p {
    margin: 0;
}
  
