.navbar_container{
    display: flex;
    align-items: center;
    height: 170px;
    width: 100%;
    position: fixed;
    top:0px;
    z-index: 1;
    padding-top: 1.5rem;
    background-color: white;
    border-bottom: 1px solid #CCCCCC;

}
.navbarbrand{
    color: black;
    font-size: 1.8rem;
    padding-left: 6rem;
    margin-top:-3.5%;
    text-decoration: none;
}
.navbarbrand a:hover{
  color: black; /* 부모 요소의 색상을 상속 */

}

.mainfuncbtn a{
    font-size: 0.8rem;    
    margin-left: 8px; 
    color:gray;
    font-weight: bold;
    text-decoration: none;
}
.mainfuncbtn a:hover{
  color: inherit; /* 부모 요소의 색상을 상속 */

}
.loginbtn a{
    font-size: 0.8rem;    
    color:gray;
    margin-left: 8px; 
    font-weight: bold;
    text-decoration: none;
    /* margin-left: 30px; */
}
.loginbtn a:hover {
  color: inherit; /* 부모 요소의 색상을 상속 */
}

  .navigatebar_menu {
    white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
    height: auto;
  }
  .inputDiv {
    display: flex; /* Flexbox 레이아웃 사용 */
    align-items: center; /* 요소들을 수직 가운데 정렬 */
  }

  .input-control{
    height: 56px;
    width:552px;
    border-color: #146DF0;
    border-radius: 1rem;
    background-image: none;
    left: calc(50% - 553px/2 - 171.5px);
    border-width: 3px; /* 원하는 굵기로 설정 */
    margin-right: 30px; /* 입력란과 버튼 사이의 간격을 조절합니다. */
  }
  .input-control::placeholder {
    padding-left: 20px; /* 왼쪽 여백 조정 */
  }
.firstDiv{
  justify-content: flex-start; /* 요소들을 오른쪽으로 정렬합니다. */
  display: flex;
  flex-direction: column; /* 수평 방향으로 요소들을 배치합니다. */
  width:1000px;
  margin-left: 50px;
}


.inputDiv img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left:-230%;
}

.categorybtn{
  display: flex;
  gap:15px;
  margin-top: 15px;
  justify-content: flex-start; /* 요소들을 오른쪽으로 정렬합니다. */
  
}

.categorybtn button {
  text-align: center;
  font-size: 0.9rem;
  background: rgba(20, 109, 240, 0.13);
  color: #146DF0;
  border-radius: 8px;
  padding: 0 10px;
  cursor: pointer;
  height: 35px;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.categorybtn button:hover,
.categorybtn button:active {
  background: #146DF0;
  border-radius: 8px;
  color:white;
}
.navibtn{
  width: 97px;
  height: 48px;
  padding:10px 20px;
  color:gray;
  top: 35px;

  background: rgba(242, 242, 242, 0.8);
  border-radius: 8px;
}
.secondDiv{
  margin-top:10px;
  display: flex;
  flex-direction: column; /* 수평 방향으로 요소들을 배치합니다. */
  margin-right:5%;
  justify-content: flex-end; /* 요소들을 오른쪽으로 정렬합니다. */
}
.hottopic {
  display: flex;
  margin-top:35px;
  align-items: center; /* 요소들을 수직 가운데 정렬 */
  position: relative;
  margin-left: auto; /* 요소를 오른쪽으로 이동시킵니다. */
}

.hottopic p {
  font-size: 1.3rem;
  color:black;
  margin-right:10px;

}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.keyword-animation-enter {
  animation: slideDown 0.5s ease-in;
}


.label-container {
  display: inline-block;
  margin-right: 10px; /* 라벨과 키워드 사이의 간격 조절 */
}

.keyword-container {
  top: 30%;
  left: 60%;
  width:150px;
}