table {
  border-collapse: collapse;
  border-spacing: 0;
}
section.notice {
  padding: 80px 0;
}

.page-title {
  margin-bottom: 60px;
}
.page-title h3 {
  font-size: 28px;
  color: #333333;
  font-weight: 400;
  text-align: center;
}

#board-search .search-window {
  padding: 15px 0;
  background-color: #f9f7f9;
}
#board-search .search-window .search-wrap {
  position: relative;
/*   padding-right: 124px; */
  margin: 0 auto;
  width: 80%;
  max-width: 564px;
}
#board-search .search-window .search-wrap input {
  height: 40px;
  width: 100%;
  font-size: 14px;
  padding: 7px 14px;
  border: 1px solid #ccc;
}
#board-search .search-window .search-wrap input:focus {
  border-color: #333;
  outline: 0;
  border-width: 1px;
}
#board-search .search-window .search-wrap .notice_btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 108px;
  padding: 0;
  font-size: 16px;
}

.board-table {
  font-size: 13px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.board-table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}
.board-table a:hover {
  text-decoration: underline;
}
.board-table th {
  text-align: center;
}

.board-table .th-num {
  width: 100px;
  text-align: center;
}

.board-table .th-date {
  width: 200px;
}

.board-table th, .board-table td {
  padding: 14px 0;
}

.board-table tbody td {
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

.board-table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}

.board-table tbody th p{
  display: none;
}

.notice_btn {
  display: inline-block;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.notice_btn-dark {
  background: #555;
  color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

.btn-dark {
  background: #555;
  color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

/* reset */

* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.notice_container {
  width: 1100px;
  margin: 0 auto;
  margin-top: 30px;

}
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  background-color: white;
  padding: 5%;
  border-radius: 10px;
  width: 70%;
  height: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤바 생성 */
  padding-bottom: 70px; /* 하단 버튼 공간 확보 */
}
.modal-close-button {
  position: absolute; /* 절대적 위치 */
  bottom: 20px; /* 모달 아래에 60px의 공간을 두고 배치 */
  right: 50%; /* 중앙 정렬을 위한 설정 */
  transform: translateX(50%); /* 중앙 정렬을 위한 설정 */
  width: 50px; /* 버튼 크기 */
  height: 50px; /* 버튼 높이 */
  border-radius: 50%; /* 원형 버튼 */
  font-size: 20px; /* X 아이콘 크기 */
  background-color: #555; /* 버튼 배경색 */
  color: white; /* 버튼 텍스트색 */
  border: none; /* 테두리 제거 */
  cursor: pointer; /* 마우스 포인터 변경 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close-button:hover {
  background-color: #373737; /* 마우스 오버 시 배경색 변경 */
}
.modal-header {
  padding-bottom: 10px; /* 제목과 경계선 사이의 간격 */
  margin-bottom: 20px; /* 경계선과 내용 사이의 간격 */
}
.notice-title {
  background-color: #f8f9fa; /* 제목 배경색 */
  padding: 15px; /* 패딩 */
  border-top-left-radius: 10px; /* 상단 왼쪽 둥근 모서리 */
  border-top-right-radius: 10px; /* 상단 오른쪽 둥근 모서리 */
  border-bottom: 1px solid #e9ecef; /* 하단 테두리 */
  margin-bottom: 20px; /* 제목과 날짜 사이의 간격 */
  font-size: 1.5rem; /* 폰트 크기 */
  font-weight: bold; /* 폰트 두께 */
  border-bottom: 1px solid #ccc; /* 하단 경계선 추가 */

}

.notice-date {
  color: #6c757d; /* 날짜 색상 */
  margin-bottom: 20px; /* 날짜와 내용 사이의 간격 */
  padding-left: 15px; /* 왼쪽 패딩 */
  padding-right: 15px; /* 오른쪽 패딩 */
}

.notice-content {

  padding: 10px; /* 내용 패딩 */
  white-space: pre-wrap; /* 줄바꿈과 공백을 그대로 보존 */
  background-color: #fff; /* 내용 배경색 */
  border-bottom-left-radius: 10px; /* 하단 왼쪽 둥근 모서리 */
  border-bottom-right-radius: 10px; /* 하단 오른쪽 둥근 모서리 */
  border-top: 1px solid #ccc; /* 상단 테두리 */
  max-height: 60%; /* 최대 높이 설정 */
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤 */
}

