table {
  border-collapse: collapse;
  border-spacing: 0;
}
section.notice {
  padding: 80px 0;
}

.page-title {
  margin-bottom: 60px;
}
.page-title h3 {
  font-size: 28px;
  color: #333333;
  font-weight: 400;
  text-align: center;
}

#board-search .search-window {
  padding: 15px 0;
  background-color: #f9f7f9;
}
#board-search .search-window .search-wrap {
  position: relative;
/*   padding-right: 124px; */
  margin: 0 auto;
  width: 80%;
  max-width: 564px;
}
#board-search .search-window .search-wrap input {
  height: 40px;
  width: 100%;
  font-size: 14px;
  padding: 7px 14px;
  border: 1px solid #ccc;
}
#board-search .search-window .search-wrap input:focus {
  border-color: #333;
  outline: 0;
  border-width: 1px;
}
#board-search .search-window .search-wrap .notice_btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 108px;
  padding: 0;
  font-size: 16px;
}

.board-table {
  font-size: 13px;
  width: 85%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin:0 auto;
}

.board-table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}
.board-table a:hover {
  text-decoration: underline;
}
.board-table th {
  text-align: center;
}

.board-table .th-num {
  width: 100px;
  text-align: center;
}

.board-table .th-date {
  width: 200px;
}

.board-table th, .board-table td {
  padding: 14px 0;
}

.board-table tbody td {
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

.board-table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}

.board-table tbody th p{
  display: none;
}

.notice_btn {
  display: inline-block;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.notice_btn-dark {
  background: #555;
  color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

.btn-dark {
  background: #555;
  color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

/* reset */

* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.notice_container {
  width: 1100px;
  margin: 0 auto;
  margin-top: 30px;

}
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* width: 100%;
  height: 100%; */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* 다른 요소보다 위에 위치 */
}
.modal-content {
  position: relative; /* 상대적 위치 지정 */
  background-color: white;
  padding: 5%;
  border-radius: 10px;
  width: 70%;
  height: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤바 생성 */
  padding-bottom: 70px; /* 하단 버튼 공간 확보 */
  z-index: 1001; /* overlay보다 위에 위치 */
}
.overlay-close-button {
  position: absolute;
  top: 3px; /* 모달 상단 외부로 조금 나오게 위치 조정 */
  right: calc(50% - 15px); /* 버튼을 모달 박스 중앙으로 위치시킵니다 */
  background-color: rgba(91, 89, 89, 0.7); /* 검정색 배경을 주되 약간 불투명하게 */
  color: white; /* 글자 색상은 흰색으로 */
  border: none; /* 테두리 없음 */
  border-radius: 50%; /* 원형 모양 */
  width: 30px; /* 버튼의 너비 */
  height: 30px; /* 버튼의 높이 */
  display: flex;
  text-align: center; /* 텍스트 중앙 정렬 */
  align-items: center; /* Flexbox를 사용하여 내용을 수직 중앙에 위치 */
  justify-content: center; /* Flexbox를 사용하여 내용을 수평 중앙에 위치 */
  line-height: 30px; /* 세로 중앙 정렬을 위해 line-height를 버튼의 높이와 같게 */
  cursor: pointer; /* 커서 포인터로 변경 */
  font-size: 17px; /* X 텍스트 사이즈를 크게 */
  font-weight: bold; /* X 텍스트 굵게 */
  z-index: 10; /* 모달 내용물 위에 오도록 z-index 설정 */
}

.deletediv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px; /* Adjust as needed */
}

.modal-close-button:hover {
  background-color: #373737; /* 마우스 오버 시 배경색 변경 */
}
.modal-header {
  padding-bottom: 10px; /* 제목과 경계선 사이의 간격 */
  margin-bottom: 20px; /* 경계선과 내용 사이의 간격 */
}
.notice-title {
  background-color: #f8f9fa; /* 제목 배경색 */
  padding: 15px; /* 패딩 */
  border-top-left-radius: 10px; /* 상단 왼쪽 둥근 모서리 */
  border-top-right-radius: 10px; /* 상단 오른쪽 둥근 모서리 */
  border-bottom: 1px solid #e9ecef; /* 하단 테두리 */
  margin-bottom: 20px; /* 제목과 날짜 사이의 간격 */
  font-size: 1.5rem; /* 폰트 크기 */
  font-weight: bold; /* 폰트 두께 */
  border-bottom: 1px solid #ccc; /* 하단 경계선 추가 */

}

.notice-date {
  color: #6c757d; /* 날짜 색상 */
  /* margin-bottom: 20px; 날짜와 내용 사이의 간격 */
  padding-left: 15px; /*왼쪽 패딩*/
  padding-right: 15px; /*오른쪽 패딩*/
}

.notice-content {

  padding: 10px; /* 내용 패딩 */
  white-space: pre-wrap; /* 줄바꿈과 공백을 그대로 보존 */
  background-color: #fff; /* 내용 배경색 */
  border-bottom-left-radius: 10px; /* 하단 왼쪽 둥근 모서리 */
  border-bottom-right-radius: 10px; /* 하단 오른쪽 둥근 모서리 */
  border-top: 1px solid #ccc; /* 상단 테두리 */
  min-height: 100%;
  max-height: 60%; /* 최대 높이 설정 */
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤 */
}
.notice-img {
  width:80%; /* Make the image fill its container */
  max-height: auto; /* Set a maximum height to prevent overly large images */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
  border-radius: 8px;
  margin-bottom: 10px;
}
/* .board-list .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
} */
.delete-button2 {
  background-color: #ff6262;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
  width: 60px;
  

}

.update-button {
  background-color: #ff6262;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
  width: 60px;
  margin-right: 3%;

}
.cancel-button {
  background-color: #ff6262;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
  width: 60px;
  margin-right: 3%;

}
.notice .addNotice {
  background-color: #7895CB;
  color: #fff;
  padding: 6px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
}
.buttons{
  display: flex;
}
.notice .addNotice:hover {
  background-color: rgb(34, 103, 150);
}

.addNoticeContainer {
  margin-left: auto;
  margin-bottom: 1%;

}
.addNotice{
  margin-left: 83%;
  margin-bottom: 50%;

}

a {
  text-decoration: none;
}
/* .modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
} */