/* result.css */

.result_container {
    font-family: 'nanumsquare', sans-serif;
    /* font-family: 'Gothic A1', sans-serif; */
    border-radius: 8px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 85%;
    /* background-color: rgb(227, 227, 227); */
    margin-top: 10%;
    
}

.text-center {
    text-align: center;
}

.text-2xl {
    /* font-family: 'Gowun Dodum', sans-serif; */
    font-size: 3rem;
    padding: 10px;
    text-align: left;
    margin-top: 2%;
}
/* .Test {
    font-size: 3rem;
    padding: 30px;
    text-align: left;
} */
.Test1 {
    font-size: 1.3rem;
    text-align: left;
    padding-left: 0px;
    display: flex; 
    justify-content: space-between;
}
.font-bold {
    font-weight: bold;
}

.mb-4 {
    margin-bottom: 1rem;
}
.box {
    margin: 2rem;
}
.bar-container {
    /* display: flex; */
    max-width: 100%;
    overflow: hidden;
    font-weight: bold;
    border: solid 2px #d8d8d8;
    border-radius: 1rem;
    
}

.positive-bar,
.negative-bar,
.neutral-bar {
    height: 2rem;
    border-radius: 1rem;
    text-align: center;
    padding-top: 7px;
    margin: 30px;
    /* background-color: #ececec; */
    
}

.positive-bar {
    background: linear-gradient(to right,rgba(20, 109, 240, 0.25), #146DF0 ); /* 그라데이션 효과 */
    width: 100%;
    animation: 2s ease-out 0s 1 slideInFromLeft;
}

.negative-bar {
    background: linear-gradient(to right, rgba(237, 63, 126, 0.25), #ED3F7E);
    width: 70%;
    animation: 2s ease-out 0s 1 slideInFromLeft;
}
/* 중립 바에 대한 스타일 */
.neutral-bar {
    background: linear-gradient(to right, rgba(66, 205, 17, 0.25), #42CD11); /* 중립 바의 그라데이션 색상 */
    animation: 2s ease-out 0s 1 slideInFromLeft; /* 애니메이션 효과 */
}

.npn {
    display: flex;
    justify-content: space-around;
    width: 25%;
    font-size: 1.5rem;
    margin-left: 2rem;
    text-align: left;
    

}

.npn-search {
    margin-top: 1.5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
   
    
}

.npn-info {
    border: solid 2px #d8d8d8;
    border-radius: 1rem;
    align-items: center;
}


@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.list-container {
    
    width: 100%;
    gap: 10px;
    margin-top: 40px;
    
}

.list-box,
.list-box_ng {
    background-color: #f9f9f9;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 600px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.18); */
}

/*긍,부정도 따라 색 변화 */
.green-shadow {
    box-shadow: 0 0 10px rgba(41, 194, 117, 1.0); /* 초록색 그림자 */
}
.red-shadow {
    box-shadow: 0 0 10px rgba(255, 78, 78, 1.0); /* 빨간색 그림자 */
}


.article-list {
    overflow-y: auto;
    max-height: 800px;
    padding-right: 10px;
}

.article-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #e1e1e1;
    /* margin-bottom: 10px;  */
    /* margin-top: -1%; */
}

.article-link {
    display: block;
    color: black;
    margin-bottom: 0.5rem;
    text-decoration: none;
    padding-bottom: 0.5rem;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1; /* 표시할 최대 줄 수 */
}

.article-link:hover {
    text-decoration: underline;
}

.scrap-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: px;
    padding: 5px 10px;
}

.scrap-button:hover {
    background-color: transparent;
}

.article-img{
    margin-right: 10px;
    width:120px;
    height:80px;
    border-radius: 5px;
}
.article-content {
    flex: 1;
    /* line-height: 10px; */
    /* margin-top: 10px; */
    align-items: center;
    /* max-width: 200px; Adjust the maximum width as needed */

  }
.article-content a{
    margin-top: 10px;
    height: 28px;
  }

  .write-dt {
    margin-top: -10px; /* 날짜와 링크 사이 간격 조절 */
  }
  .article-count {
    text-align: right;
    margin-top: -1%;
  }
  .relatedKeywordDiv{
    align-items: left;
  }

.search-related-keywords{
    height: 80%; /* 세로 선의 높이를 조정합니다 */
    border-left: 2px solid #ccc; /* 세로 선의 스타일 및 색상 설정 */
    text-align: center;
}

.search-related-keywords span {
/* 추가적인 스타일링이 필요하다면 여기에 추가 */
    font-size: 1.2rem;
    font-weight: lighter;
    margin-left: 2%;
    font-weight:500;
    
   
    
}

.related_keyword {
    /* 키워드에 대한 추가적인 스타일링을 여기에 추가 */
    margin-right: 20px;  /* 각 키워드 사이 간격 조절 */
    cursor: pointer;

    
    border-radius: 0.5rem;
    background-color: #e8e8e8;
    padding:3px 7px;
}



