/* result.css */

.result_container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    border-radius: 8px; /* 모서리 둥글게 */
    padding: 20px; /* 내부 패딩 */
}

.text-center {
    text-align: center;
}

.text-2xl {
    font-size: 1.5rem; /* 큰 텍스트 사이즈 */
}

.font-bold {
    font-weight: bold;
}

.mb-4 {
    margin-bottom: 1rem; /* 하단 여백 */
}

.bar-container {
    display: flex;
    max-width: 100%;
    overflow: hidden; /* 애니메이션 효과를 위한 overflow 설정 */
}

.positive-bar {
    background: linear-gradient(to right, #16a085, #2ecc71); /* 그라데이션 효과 */
    height: 2rem;
    border-radius: 0.25rem;
    width: 30%; /* 긍정 바의 너비 */
    animation: 2s ease-out 0s 1 slideInFromLeft; /* 애니메이션 적용 */
}

.negative-bar {
    background: linear-gradient(to right, #c0392b, #e74c3c); /* 그라데이션 효과 */
    height: 2rem;
    border-radius: 0.25rem;
    width: 70%; /* 부정 바의 너비 */
    animation: 2s ease-out 0s 1 slideInFromRight; /* 애니메이션 적용 */
}
.article-list {
    overflow-y: auto; /* 세로 스크롤 */
    max-height: 150px; /* 리스트 최대 높이 설정 */
    padding-right: 10px; /* 스크롤바와의 간격 */
}

.article-link {
    display: block; /* 링크를 블록 요소로 설정 */
    color: #007bff; /* 링크 색상 */
    margin-bottom: 0.5rem; /* 링크 간 여백 */
    text-decoration: none; /* 밑줄 제거 */
}

.article-link:hover {
    text-decoration: underline; /* 마우스 오버 시 밑줄 표시 */
}
@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.list-container {
    display: flex; /* 리스트 컨테이너를 flex로 설정 */
    width: 100%; /* 전체 너비 */
    gap: 10px; /* 각 리스트 박스 사이의 간격 */
    margin-top: 20px; /* 상단 여백 */
}

.list-box {
    border: 1px solid #7f8c8d; /* 테두리 */
    border-radius: 0.5rem; /* 모서리 둥글게 */
    padding: 1rem; /* 내부 패딩 */
    display: flex; /* flex 레이아웃 */
    flex-direction: column; /* 세로 정렬 */
}

.list-title {
    font-size: 1.25rem; /* 제목 크기 */
    margin-bottom: 1rem; /* 제목과 리스트 사이의 여백 */
}

.list-disc {
    list-style-type: none; /* 리스트 앞의 점 제거 */
    padding-left: 0; /* 기본 패딩 제거 */
}